.table-btns-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    
    button:not(:last-child) {
        margin-right: 5px;
    }
}

#root {
    background: url('../../public/assets/background.jpg');
}

.main {
    width: 100vw;
    height: 100vh;
    background: white;
}

.work-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
 }

tr.ant-table-row {
    &:hover {
        cursor: pointer;
    }
}